
.admin-view:hover{
  cursor: pointer;
}

.btn-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap:5px;
}

.login{
  border-radius: 5px;
}